/* Fonts */
$bodyfont: 'Merriweather', serif;
/* alternative  fonts */
/*
$bodyfont: 'Dosis', sans-serif;
$bodyfont: 'PT Serif', serif;
$headingfont: 'Rubik', sans-serif;
$headingfont: 'Dosis', sans-serif;
*/
$headingfont: 'Rubik', sans-serif;
$navigationfont: 'Didact Gothic', sans-serif;

/* RGB */
$color0: rgba(0,0,0,1);
$color1: rgba(190, 110, 70, 1);
$color2: rgba(209, 239, 181, 1);
$color3: rgba(114, 134, 160, 1);
$color4: rgba(63, 124, 172, 1);
$color5: rgba(149, 175, 186, 1);
/* Color Assignments */
$textcolor: $color0;
$primary-color: $color4 !default;
$secondary-color: $color1 !default;
$alternate-bgcolor: $color2;

.row .col {
    padding-left: 0px;
}

.parallax-interior {
    font-family: $bodyfont;
    font-size: 1.6em;
    position: absolute;
    bottom: 100px;
    padding-left: 40px;
    color: white;

    .btn {
        font-family: $navigationfont;
        background-color: $secondary-color;
    }
}
.table-of-contents {
    a {
        font-family: $navigationfont;
        font-weight: bold;    
    }

    a:link, a:visited, a:active {
        color: $primary-color;
    }

    a.active {
        font-weight: bold;
        padding-left: 14px;
        border-left: 2px solid $secondary-color;
    }

    a:hover {
        color: $secondary-color;
        padding-left: 15px;
        border-left: 1px solid $primary-color;            
    }
}

.section {
    padding: 10px;
    p {
        font-family: $bodyfont;
        font-size: 1.2em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $headingfont;
        font-weight: bold;
    }

    li {
        font-family: $bodyfont;
        vertical-align: middle;
    }
}

#toc-wrapper {
    position: fixed;
    top: 20px;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 { 
    font-size: 18pt;
}

.header-wrapper {
    background-color: $primary-color;
    font-family: $navigationfont;
    color: white;
    text-align: right;
    padding: 4px;
    position: fixed;
    width: 100%;
    z-index: 50;
    i {
        vertical-align: -6px;
    }
}

.contact-container {
    position: relative;
    height: 90vh;
}
  
.contact-image {
    position: absolute;
    padding: 10px;
    width: 100%;
}
  
.contact-text {
    position: absolute;
    top: 10vh;
    left: 60%;
    width: 40%;
    color: white;
    font-size: 1vw;
}
  
.contact-info {
    font-family: $bodyfont;
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 1.4em;
}

.bg-alt {
    background-color: $alternate-bgcolor;
}

.contact-form, .contact-direct {
    padding: 10px;
}

.parallaximage {
    width: 100%;
}
