.testheight {
  height: 600px;
  border: red 1px solid;
}

.testborder {
  border: blue 1px dashed;
}

#spacer {
  background-color: bisque;
}

#debug {
  position: fixed;
  bottom: 2px;
  right: 2px;
  width: 200px;
  min-height: 1rem;
  background-color: pink;
  border: 1px red dashed;
}