.testheight {
  height: 600px;
  border: red 1px solid;
}

.testborder {
  border: blue 1px dashed;
}

img.parallaximage {
  width: 100%;
}

.contact-container {
  position: relative;
  height: 90vh;
}

.contact-image {
  position: absolute;
  width: 100%;
}

.contact-text {
  position: absolute;
  top: 10vh;
  left: 60%;
  width: 40%;
  color: white;
  font-size: 1vw;
}

.contact-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: .85vw;
  vertical-align: middle;
}

